{% extends "header.html" %}
{% load static %}
{% block title %}Daftar Positif{% endblock %}

{% block content %}
        <br>
        <br>
        <div class="row">
        	<div class="col-xs-12 col-md-12">
        		<div style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: larger;">
                    <center>
                    <b><p>Daftar Positif Covid</p>
                        <p>Daerah X</p></b>
                    <br>
                </center>
           		</div>
        	</div>
        
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div style="font-family: Georgia, 'Times New Roman', Times, serif; font-size:15px;width: 1000px; height: 700px;
                     margin-left:auto;margin-right:auto;overflow:auto">
                    <center>
                    <table style="width: 100%;">
                        <tr style="background-color:  #6FCF97;font-weight: bold;">
                            <th>Nama </th>
                            <th>Usia</th>
                            <th>Alamat</th> 
                            <th>Jenis Kelamin</th> 
                            <th>Ubah Status</th> 
                        </tr>
                        {% if positif %}
                        {% for yangpositif in positif %}
                        <tr>
                            <td>{{ yangpositif.nama_penduduk}}</td>
                            <td>{{ yangpositif.usia }}</td>
                            <td>{{ yangpositif.alamat }}</td>
                            <td>{{ yangpositif.jenis_kelamin }}</td>
                            <td><a href="{% url 'sembuhkan' id=yangpositif.id %}"><button type="button" >Sembuhkan</button></a></td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                    </table>
                    </center>
                </div>
            </div>
        </div> 

        <div class="row">
        	<div class="col-xs-12 col-md-12">
        		<center><a href="{% url 'form' %}"><button class="button" style="background-color:  #6FCF97; color:white;margin-left: auto;margin-right: auto;margin-top: 50px;">Tambah Warga Lagi</button></a></center>
           	</div>
        	</div>
        
        </div>  
{% endblock %}