{% extends "header.html" %}
{% load static %}
{% block title %}Jumlah Penduduk Awal{% endblock %}

{% block content %}
        <div class="row">
        	<div class="col-xs-12 col-md-12">
        		<div style="font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 200px;">
                    <center>
                    <h1>Masukan Jumlah Penduduk Mula-Mula</h1>
                    <h6>Min : 1, Max : 999999</h6>
                	<form action="savejumlah" method="POST">
                    {% csrf_token %}
                    {{formjumlah.as_p}}
                    <br>
                    <input type='submit' value='Submit'>

                    </form>
                    <p class="mt-4">{{ warning }}</p>
                    <p class="mt-4">{{ warn }}</p>
                    <h6>Kembali ke daftar positf</h6>
                    <a href="{% url 'daftarpositif' %}"><button class="button" style="background-color:  #6FCF97; color:white;margin-left: auto;margin-right: auto;margin-top: 20px;">Daftar Warga Positif</button></a>
                    </center>
           		</div>
        	</div>
        
        </div>
{% endblock %}